body {
  background-color: #3c4665;
  font-family: "Unbounded", cursive;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  row-gap: 10px;
  grid-template-columns: 25% repeat(4, 1fr) 25%;
  grid-template-rows: auto 50px 110px 400px auto;
}
.container__header { /* 
background-color: #a4a4a4; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 3/span 2;
  grid-row: 2/span 1;
  position: relative;
}
.container__header .header__theme {
  /* background-color: #239842; */
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 50px;
}
.container__header .switch {
  color: #a4a4a4;
  background-color: #1e263e;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.container__header .switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}
.container__header .switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: white;
  top: 1;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0 0 2px 2px rgba(79, 79, 79, 0.2);
}
.container__header .switch.active-beige {
  background-color: #e7e7e5;
}
.container__header .switch.active-beige::after {
  right: 45px;
  left: unset;
}
.container__header .switch.active-fucsia {
  background-color: #250626;
}
.container__header .switch.active-fucsia::after {
  right: 0;
  left: unset;
}
.container__input {
  /*  background-color: #239842; */
  width: auto;
  grid-column: 3/span 2;
  grid-row: 3/span 1;
}
.container__input-number {
  width: 99%;
  height: 95%;
  border: none;
  border-radius: 8px;
  background-color: #111622;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Unbounded", cursive;
  text-align: right;
}
.container__keyboard {
  background-color: #1e263e;
  display: grid;
  padding: 10px;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 3/span 2;
  grid-row: 4/span 1;
  border-radius: 10px;
}
.container__keyboard .keyboard__keycap {
  background-color: #eae3db;
  box-shadow: 0 5px rgb(219, 173, 93);
  cursor: pointer;
  user-select: none;
  width: 65%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.container__keyboard .keycap-del {
  background-color: #647299;
  box-shadow: 0 5px rgb(68, 80, 106);
  cursor: pointer;
  user-select: none;
  color: rgb(255, 255, 255);
}
.container__keyboard .keycap-reset {
  background-color: #647299;
  box-shadow: 0 5px rgb(68, 80, 106);
  cursor: pointer;
  user-select: none;
  grid-column: 1/span 2;
  width: 85%;
  color: white;
  letter-spacing: 2px;
}
.container__keyboard .keycap-result {
  background-color: #d13f30;
  box-shadow: 0 5px rgb(173, 39, 39);
  cursor: pointer;
  user-select: none;
  grid-column: 3/span 2;
  width: 85%;
  color: white;
}
.container__keyboard .keycap-0 {
  grid-column: 1/span 2;
  width: 85%;
}

@media (max-width: 1000px) {
  .container {
    background-color: aqua;
    grid-template-columns: 0.8fr;
    justify-content: center;
  }
  .container__header {
    grid-column: 1/span 1;
  }
  .container__input {
    grid-column: 1/span 1;
  }
  .container__keyboard {
    grid-column: 1/span 1;
  }
}

/*# sourceMappingURL=style.css.map */
