@import './sass/base/darkmode';
@import './sass/base/variables';
@import './sass/components/button';
@import './sass/components/switch';
@import './sass/layout/responsive';

body{
  background-color: $backgroundColor;
  font-family: $fontMain;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.container{
  display: grid;
  height: 100vh;
  row-gap: 10px;
  grid-template-columns: 25% repeat(4, 1fr) 25%;
  grid-template-rows: auto 50px 110px 400px auto;
  &__header{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    position: relative;

    .header__theme{
      background-color: #239842;
      display: flex;
      align-items: center;
      column-gap: 10px;
      height: 50px;
    }
    
    .switch{
      color: #a4a4a4;
      @include switchStyle($backgroundKeyboard);
      span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
      }
      &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: white;
        top: 1;
        left: 0;
        right:unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0 0 2px 2px rgb(79, 79, 79, .2);
      }

      &.active-beige{
        background-color: $backgroundColorTwo;
        &::after{
          right: 45px;
          left: unset;
        }
      }

      &.active-fucsia{
        background-color: $backgroundColorThree;
        &::after{
          right: 0;
          left: unset;
        }
      }
    }
    
  }

  &__input{
    background-color: #239842;
    width: auto;
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;

    &-number{
      width: 99%;
      height: 95%;
      border: none;
      border-radius: 8px;
      background-color: $outputColor;
      color: white;
      font-size: 3rem;
      font-weight: 500;
      font-family: $fontMain;
      text-align: right;
    }
  }

  &__keyboard{
    background-color: $backgroundKeyboard;
    display: grid;
    padding: 10px;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
    border-radius: 10px;


    .keyboard__keycap{
      @include buttonStyle($buttonColor, rgb(219, 173, 93) );
      width: 65%;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
    }
    .keycap-del{
      @include buttonStyle($buttonOpcionColor, rgb(68, 80, 106));      
      color: rgb(255, 255, 255);
    }  

    .keycap-reset{
      @include buttonStyle($buttonOpcionColor, rgb(68, 80, 106));
      grid-column: 1 / span 2;
      width: 85%;
      color: white;
      letter-spacing: 2px;
    }

    .keycap-result{
      @include buttonStyle($buttonEnterColor, rgb(173, 39, 39));
      grid-column: 3 / span 2;
      width: 85%;
      color: white;
    }
    .keycap-0{
      grid-column: 1 / span 2;
      width: 85%;
    }

    
  }
  

}


@include mobileScreen(){
  .container{
    background-color: aqua;
    grid-template-columns: 0.8fr;
    justify-content: center;

    &__header{
      @include mobileStructure();
    }
    &__input{
      @include mobileStructure();

    }

    &__keyboard{
      @include mobileStructure();

    }
  }


}