

//Variables DEFAULT color

$backgroundColor : #3c4665;
$backgroundKeyboard: #1e263e;
$buttonColor: #eae3db;
$buttonShadow : #c6a47e;
$buttonEnterColor: #d13f30;
$buttonEnterShadow: #6e2f25;
$buttonOpcionColor: #647299;
$buttonOpcionShadow:#424e6e;
$mainFontColor: white;
$outputColor: #111622;
$outputFontColor: white;

//Variables theme 2 color

$backgroundColorTwo: #e7e7e5;
$outputColorTwo: #f3f6fd;
$outputFontColorTwo: rgb(55, 55, 55);
$backgroundKeyboardTwo: #e0dbd8;
$buttonOpcionColorTwo: #1b8194;

//Variables theme 3 color

$backgroundColorThree: #30064a;
$backgroundKeyboardThree: #220644;
$buttonColorThree: #2e0955;
$buttonShadowThree: #820ca5;
$buttonEnterColorThree: #00def7;
$EnterThreeShadow: #3bcada;
$buttonOpcionColorThree: #8f086d;
$outputFontColorThree: #f2db46;
$colorFontButton: #f2db46;
$outputColorThree: #220644;








//Variables fonts
$fontMain: 'Unbounded', cursive;