

//Variables color

$backgroundColor : #3b4664;

$buttonColor: #eae3db;
$buttonShadow : #c6a47e;
$buttonEnterColor: #d13f30;
$buttonOpcionColor: #647299;
$buttonFontColor: #252d44;

$mainFontColor: white;
$outputColor: #181f32;

//Variables fonts
$fontMain: 'Unbounded', cursive;